html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,q {
  quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ins {
  background-color: #eee;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #eee;
  color: #000;
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

input,select {
  vertical-align: middle;
}

pre,code,kbd,samp {
  font-family: monospace, sans-serif;
}

/*
 * BASELINE STYLES
 */
/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll;
}

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover,a:active {
  outline: none;
  cursor: pointer;
}

.close a,.close a:active,.close a:visited {
  color: #848484 !important;
  text-decoration: none;
  font-weight: 400 !important;
  border-bottom: 1px dotted;
}

ul,ol {
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
}

/* Remove margins for navigation lists */
nav ul,nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong,th {
  font-weight: 700;
}

td,td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

pre {
  padding: 15px;
  white-space: pre;
/* CSS2 */
  white-space: pre-wrap;
/* CSS 2.1 */
  white-space: pre-line;
/* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
/* IE */
}

textarea {
  overflow: auto;
}

.ie6 legend,.ie7 legend {
  margin-left: -7px;
}

/* align checkboxes, radios, text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom;
}

input[type=checkbox] {
  vertical-align: bottom;
}

.ie7 input[type=checkbox] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

/* hand cursor on clickable input elements */
label,input[type=button],input[type=submit],button {
  cursor: pointer;
}

/* webkit browsers add a 2px margin outside the chrome of form elements */
/*button, input, select, textarea { margin: 0; } */
/* colors for form validity */
input:valid,textarea:valid {
}

input:invalid,textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* These selection declarations have to be separate.
 */
::-moz-selection {
  background: #fdc82f;
  color: #222;
  text-shadow: none;
}

::selection {
  background: #fdc82f;
  color: #222;
  text-shadow: none;
}

/*  iOS highlight color */
a:link {
  -webkit-tap-highlight-color: #FF5E99;
}

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible;
}

/* bicubic resizing for non-native sized IMG:  */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/*
 * Helpers
 */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  direction: ltr;
}

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px1px1px1px);
/* IE6, IE7 */
  clip: rect(1px,1px,1px,1px);
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.cf:before,.cf:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

/* Primary Styles
 *  Author: Luke Connolly
 */
/*###########
12 Column Grid at 978px with 30px gutters */
.gridwrap {
  max-width: 948px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.grid-color {
  background: #ddd;
}

.grid-color p {
  padding: 10px 0;
}

.grid-1,.grid-2,.grid-3,.grid-4,.grid-5,.grid-6,.grid-7,.grid-8,.grid-9,.grid-10,.grid-11,.grid-12 {
  margin-left: 15px;
  margin-right: 15px;
  float: left;
  overflow: hidden;
  margin-top: 30px;
}

.grid-1 {
  width: 49px;
}

.grid-2 {
  width: 128px;
}

.grid-3 {
  width: 207px;
}

.grid-4 {
  width: 286px;
}

.grid-5 {
  width: 365px;
}

.grid-6 {
  width: 444px;
}

.grid-7 {
  width: 523px;
}

.grid-8 {
  width: 602px;
}

.grid-9 {
  width: 681px;
}

.grid-10 {
  width: 760px;
}

.grid-11 {
  width: 839px;
}

.grid-12 {
  width: 918px;
}

.left-1 {
  margin-left: 94px;
}

.left-2 {
  margin-left: 173px;
}

.left-3 {
  margin-left: 252px;
}

.left-4 {
  margin-left: 331px;
}

.left-5 {
  margin-left: 410px;
}

.left-6 {
  margin-left: 489px;
}

.left-7 {
  margin-left: 568px;
}

.left-8 {
  margin-left: 647px;
}

.left-9 {
  margin-left: 726px;
}

.left-10 {
  margin-left: 805px;
}

/*###########
Typography */



/*#########
Main Styles */
body {
  background-image: url(/sites/all/themes/bling/img/body-bg.gif);
  background-position: initial;
  background-repeat: repeat;
}

.content {
  background-color: #fff;
}

.head {
  background-color: #f5f5f5;
}

.foot {
  background-color: #f5f5f5;
  padding-bottom: 24px;
}

.head {
  padding-bottom: 30px;
}

.right {
  font-size: .8125em;
}

.close {
  text-align: right;
}

.right ul {
  padding-left: 1em;
}

.right ul li {
  padding-bottom: 6px;
}

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important;
  }

  a,a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a:after {
    content: " (" attr(href) ")";
  }

  abbr:after {
    content: " (" attr(title) ")";
  }

  .ir a:after {
    content: "";
  }

  /* Don't show links for images */
  pre,blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr,img {
    page-break-inside: avoid;
  }

  @page {
    margin: .5cm;
  }

  p,h2,h3 {
    orphans: 3;
    widows: 3;
  }

  h2,h3 {
    page-break-after: avoid;
  }

}

/* IE Max-width hack */
#container,#footer {
  width: expression(document.body.clientWidth<742?"740px":document.body.clientWidth>1202?"1200px":"auto");
}
