@media (max-width: 720px) {
  /* line 33, ../compass/sass/tools/_grid.scss */
  .head, .main, .foot, .close {
    width: 375px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  /* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .head:after, .main:after, .foot:after, .close:after {
    content: "";
    display: table;
    clear: both; }

  /* line 36, ../compass/sass/tools/_grid.scss */
  .logo-top {
    width: 16.8%;
    float: left;
    margin-right: 4%; } }
@media (min-width: 721px) {
  /* line 44, ../compass/sass/tools/_grid.scss */
  .head, .main, .foot, .close {
    width: 921px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  /* line 38, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .head:after, .main:after, .foot:after, .close:after {
    content: "";
    display: table;
    clear: both; }

  /* line 47, ../compass/sass/tools/_grid.scss */
  .logo-top {
    width: 15.30945%;
    float: left;
    margin-right: 1.62866%; }

  /* line 50, ../compass/sass/tools/_grid.scss */
  .donation-message {
    width: 57.65472%;
    float: left;
    margin-right: 1.62866%; }

  /* line 53, ../compass/sass/tools/_grid.scss */
  .image-top {
    width: 23.7785%;
    float: right;
    margin-right: 0; } }
@media (max-width: 720px) {
  /* line 61, ../compass/sass/tools/_grid.scss */
  .node {
    width: 100%;
    float: right;
    margin-right: 0; } }
@media (min-width: 720px) {
  /* line 66, ../compass/sass/tools/_grid.scss */
  .node {
    margin-left: 16.93811%;
    width: 83.06189%;
    float: right;
    margin-right: 0; } }
@media (max-width: 720px) {
  /* line 74, ../compass/sass/tools/_grid.scss */
  .image-foot {
    width: 100%;
    float: left;
    margin-right: 4%; }

  /* line 77, ../compass/sass/tools/_grid.scss */
  .efficiency-footer {
    width: 100%;
    float: left;
    margin-right: 4%; } }
@media (min-width: 720px) {
  /* line 82, ../compass/sass/tools/_grid.scss */
  .image-foot {
    width: 32.24756%;
    float: left;
    margin-right: 1.62866%; }

  /* line 85, ../compass/sass/tools/_grid.scss */
  .efficiency-footer {
    width: 49.18567%;
    float: left;
    margin-right: 1.62866%; } }
/* line 5, ../compass/sass/tools/_silents.scss */
body {
  font-family: Helvetica, Arial, sans-serif; }

/* line 5, ../compass/sass/_base.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 9, ../compass/sass/_base.scss */
nav ul {
  list-style: none; }

/* line 13, ../compass/sass/_base.scss */
blockquote, q {
  quotes: none; }

/* line 17, ../compass/sass/_base.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* line 22, ../compass/sass/_base.scss */
a {
  color: #cf6400;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent; }
/* line 30, ../compass/sass/_base.scss */
a:hover {
  text-decoration: underline; }

/* line 35, ../compass/sass/_base.scss */
ins {
  background-color: #eee;
  color: #000;
  text-decoration: none; }

/* line 41, ../compass/sass/_base.scss */
mark {
  background-color: #eee;
  color: #000;
  font-style: italic;
  font-weight: 700; }

/* line 48, ../compass/sass/_base.scss */
del {
  text-decoration: line-through; }

/* line 52, ../compass/sass/_base.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 57, ../compass/sass/_base.scss */
input, select {
  vertical-align: middle; }

/* line 61, ../compass/sass/_base.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/*
 * BASELINE STYLES
 */
/* always force a scrollbar in non-IE */
/* line 69, ../compass/sass/_base.scss */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
/* line 74, ../compass/sass/_base.scss */
a:hover, a:active {
  outline: none;
  cursor: pointer; }

/* line 79, ../compass/sass/_base.scss */
.close a, .close a:active, .close a:visited {
  color: #848484 !important;
  text-decoration: none;
  font-weight: 400 !important;
  border-bottom: 1px dotted; }

/* line 86, ../compass/sass/_base.scss */
ul, ol {
  list-style-position: inside; }

/* line 90, ../compass/sass/_base.scss */
ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
/* line 95, ../compass/sass/_base.scss */
nav ul, nav li {
  margin: 0; }

/* line 99, ../compass/sass/_base.scss */
small {
  font-size: 85%; }

/* line 103, ../compass/sass/_base.scss */
strong, th {
  font-weight: 700; }

/* line 107, ../compass/sass/_base.scss */
td, td img {
  vertical-align: top; }

/* line 111, ../compass/sass/_base.scss */
sub {
  vertical-align: sub;
  font-size: smaller; }

/* line 116, ../compass/sass/_base.scss */
sup {
  vertical-align: super;
  font-size: smaller; }

/* line 121, ../compass/sass/_base.scss */
pre {
  padding: 15px;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

/* line 133, ../compass/sass/_base.scss */
textarea {
  overflow: auto; }

/* line 137, ../compass/sass/_base.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* align checkboxes, radios, text inputs with their label */
/* line 142, ../compass/sass/_base.scss */
input[type=radio] {
  vertical-align: text-bottom; }

/* line 146, ../compass/sass/_base.scss */
input[type=checkbox] {
  vertical-align: bottom; }

/* line 150, ../compass/sass/_base.scss */
.ie7 input[type=checkbox] {
  vertical-align: baseline; }

/* line 154, ../compass/sass/_base.scss */
.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
/* line 159, ../compass/sass/_base.scss */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
/*button, input, select, textarea { margin: 0; } */
/* colors for form validity */
/* line 169, ../compass/sass/_base.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red; }

/* line 176, ../compass/sass/_base.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate.
 */
/* line 182, ../compass/sass/_base.scss */
::-moz-selection {
  background: #fdc82f;
  color: #222222;
  text-shadow: none; }

/* line 188, ../compass/sass/_base.scss */
::selection {
  background: #fdc82f;
  color: #222222;
  text-shadow: none; }

/*  iOS highlight color */
/* line 195, ../compass/sass/_base.scss */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
/* line 201, ../compass/sass/_base.scss */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG:  */
/* line 207, ../compass/sass/_base.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/*
 * Helpers
 */
/* for image replacement */
/* line 215, ../compass/sass/_base.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 225, ../compass/sass/_base.scss */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
/* line 232, ../compass/sass/_base.scss */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
/* line 240, ../compass/sass/_base.scss */
.cf:before, .cf:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

/* line 246, ../compass/sass/_base.scss */
.cf:after {
  clear: both; }

/* line 250, ../compass/sass/_base.scss */
.cf {
  zoom: 1; }

/* line 255, ../compass/sass/_base.scss */
body {
  background-image: url(/sites/all/themes/bling/img/body-bg.gif);
  background-position: initial;
  background-repeat: repeat; }

@media print {
  /* line 267, ../compass/sass/_base.scss */
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  /* line 272, ../compass/sass/_base.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  /* line 276, ../compass/sass/_base.scss */
  a:after {
    content: " (" attr(href) ")"; }

  /* line 279, ../compass/sass/_base.scss */
  abbr:after {
    content: " (" attr(title) ")"; }

  /* line 282, ../compass/sass/_base.scss */
  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  /* line 287, ../compass/sass/_base.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 291, ../compass/sass/_base.scss */
  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 296, ../compass/sass/_base.scss */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: .5cm; }

  /* line 302, ../compass/sass/_base.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 307, ../compass/sass/_base.scss */
  h2, h3 {
    page-break-after: avoid; } }
/* IE Max-width hack */
/* line 313, ../compass/sass/_base.scss */
#container, #footer {
  width: expression(document.body.clientWidth<742?"740px":document.body.clientWidth>1202?"1200px":"auto"); }

/* line 1, ../compass/sass/_bling.scss */
body {
  background-image: url(/sites/all/themes/bling/img/body-bg.gif);
  background-position: initial;
  background-repeat: repeat;
  color: #222222;
  font-size: 85%;
  line-height: 1.5em; }

/* line 10, ../compass/sass/_bling.scss */
h1 {
  margin: 0 0 .5em 0; }
@media (min-width: 0) and (max-width: 720px) {
  /* line 10, ../compass/sass/_bling.scss */
  h1 {
    font-size: 1.2em; } }

/* line 2, ../compass/sass/_close.scss */
.close {
  text-align: right; }

/* line 1, ../compass/sass/_head.scss */
.head {
  background-color: #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
  padding-top: 15px; }

@media (min-width: 0) and (max-width: 720px) {
  /* line 9, ../compass/sass/_head.scss */
  .logo-top img {
    float: left;
    height: auto;
    margin: 0 .1em .1em 0;
    width: 100%; } }

@media (min-width: 0) and (max-width: 720px) {
  /* line 17, ../compass/sass/_head.scss */
  .image-top {
    background: #feeec0;
    clear: both;
    display: table;
    padding: .2em 0; }
  /* line 23, ../compass/sass/_head.scss */
  .image-top img {
    float: left;
    height: auto;
    padding: 10px;
    width: 45%; } }

/* line 31, ../compass/sass/_head.scss */
.donation-image-caption {
  color: #888888;
  font-size: .8em;
  line-height: 1.2em; }

/* line 1, ../compass/sass/_foot.scss */
.foot {
  background-color: #f5f5f5;
  color: #7e7f90;
  padding-bottom: 24px; }
/* line 5, ../compass/sass/_foot.scss */
.foot img {
  margin-left: 5px; }
@media (min-width: 0) and (max-width: 720px) {
  /* line 5, ../compass/sass/_foot.scss */
  .foot img {
    display: block;
    margin: 0 auto; } }
/* line 12, ../compass/sass/_foot.scss */
.foot p {
  margin: 0 0 .85em; }

/* line 1, ../compass/sass/_main.scss */
.main {
  background-color: #fff;
  padding-bottom: 100px; }

/* line 6, ../compass/sass/_main.scss */
fieldset {
  margin-bottom: 0; }

/* line 9, ../compass/sass/_main.scss */
.description {
  color: #666666;
  line-height: 1.5em;
  padding: 0 .35em; }

/* line 14, ../compass/sass/_main.scss */
.error {
  display: block;
  font-size: .85em;
  font-weight: normal;
  padding: 0 0 .75em 0; }

/* line 20, ../compass/sass/_main.scss */
.form-text {
  padding: 3px; }
@media (min-width: 0) and (max-width: 720px) {
  /* line 20, ../compass/sass/_main.scss */
  .form-text {
    font-size: 1.5em;
    height: 2em;
    width: 349px; } }

/* line 28, ../compass/sass/_main.scss */
.form-item {
  margin: .5em 0; }

/* line 31, ../compass/sass/_main.scss */
.webform-component-fieldset {
  border: none; }
@media (min-width: 0) and (max-width: 720px) {
  /* line 31, ../compass/sass/_main.scss */
  .webform-component-fieldset {
    margin-bottom: 30px; } }
/* line 36, ../compass/sass/_main.scss */
.webform-component-fieldset .form-item {
  margin: 1em 0; }

/* line 40, ../compass/sass/_main.scss */
.form-radios .form-item {
  display: inline-block;
  margin-top: .7em;
  padding-right: 15px; }
/* line 45, ../compass/sass/_main.scss */
.form-radios .form-item input, .form-radios .form-item label {
  display: block;
  text-align: center; }
/* line 49, ../compass/sass/_main.scss */
.form-radios .form-item input {
  padding-top: 5px; }
/* line 52, ../compass/sass/_main.scss */
.form-radios .form-item label {
  padding-top: 4px; }

/* line 57, ../compass/sass/_main.scss */
#webform-component-donation label {
  width: auto; }
/* line 60, ../compass/sass/_main.scss */
#webform-component-donation legend {
  display: none; }
/* line 63, ../compass/sass/_main.scss */
#webform-component-donation .form-text {
  font-size: 100%;
  height: auto;
  width: auto; }
@media (min-width: 720px) {
  /* line 56, ../compass/sass/_main.scss */
  #webform-component-donation {
    width: 90%; } }

@media (min-width: 720px) {
  /* line 73, ../compass/sass/_main.scss */
  #webform-component-donor-information, #webform-component-billing-information {
    float: left;
    width: 345px; } }

/* line 82, ../compass/sass/_main.scss */
#webform-component-donor-information legend, #webform-component-billing-information legend, #webform-component-payment-information legend {
  font-weight: bold; }
/* line 85, ../compass/sass/_main.scss */
#webform-component-donor-information label, #webform-component-billing-information label, #webform-component-payment-information label {
  font-weight: normal; }
@media (min-width: 720px) {
  /* line 89, ../compass/sass/_main.scss */
  #webform-component-donor-information label, #webform-component-billing-information label, #webform-component-payment-information label {
    display: inline-block;
    width: 130px; }
  /* line 94, ../compass/sass/_main.scss */
  #webform-component-donor-information .form-text, #webform-component-donor-information select, #webform-component-billing-information .form-text, #webform-component-billing-information select, #webform-component-payment-information .form-text, #webform-component-payment-information select {
    display: inline-block;
    width: 175px; } }

/* line 100, ../compass/sass/_main.scss */
#webform-component-donation--amount {
  margin: 0; }

/* line 103, ../compass/sass/_main.scss */
#webform-component-donation--other-amount {
  display: inline-block;
  margin: 0.41em 0 0;
  width: 54px; }
/* line 107, ../compass/sass/_main.scss */
#webform-component-donation--other-amount .form-text {
  width: 30px; }
/* line 110, ../compass/sass/_main.scss */
#webform-component-donation--other-amount label {
  display: none; }
@media (min-width: 720px) {
  /* line 103, ../compass/sass/_main.scss */
  #webform-component-donation--other-amount {
    width: 154px; } }

/* line 118, ../compass/sass/_main.scss */
#webform-component-payment-information legend {
  font-weight: bold; }
/* line 121, ../compass/sass/_main.scss */
#webform-component-payment-information select {
  width: auto; }
/* line 124, ../compass/sass/_main.scss */
#webform-component-payment-information fieldset {
  border: none;
  padding: 0; }
/* line 128, ../compass/sass/_main.scss */
#webform-component-payment-information .fieldset-wrapper > div {
  display: inline-block;
  width: 345px; }

/* line 133, ../compass/sass/_main.scss */
#edit-submitted-donation-amount {
  float: left; }

/* line 136, ../compass/sass/_main.scss */
.fundraiser_submit_message {
  color: #888888;
  clear: both; }
/* line 139, ../compass/sass/_main.scss */
.fundraiser_submit_message img {
  padding: 0 10px 0 0; }
