.head, .main, .foot, .close {
  *zoom: 1;
  width: 921px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
.head:after, .main:after, .foot:after, .close:after {
  content: "";
  display: table;
  clear: both; }

.logo-top {
  width: 15.30945%;
  float: left;
  margin-right: 1.62866%;
  display: inline; }

.donation-message {
  width: 57.65472%;
  float: left;
  margin-right: 1.62866%;
  display: inline; }

.image-top {
  width: 23.7785%;
  float: right;
  margin-right: 0;
  #margin-left: -15px;
  display: inline; }

@media (min-width: 521px) and (max-width: 980px) {
  .head, .main, .foot, .close {
    width: 687px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  .head:after, .main:after, .foot:after, .close:after {
    content: "";
    display: table;
    clear: both; }

  .logo-top {
    width: 20.52402%;
    float: left;
    margin-right: 2.18341%; }

  .donation-message {
    width: 43.23144%;
    float: left;
    margin-right: 2.18341%; }

  .image-top {
    width: 31.87773%;
    float: right;
    margin-right: 0; }

  .footer-line {
    width: 100%;
    float: right;
    margin-right: 0; } }
@media (max-width: 520px) {
  .head, .main, .foot, .close {
    width: 375px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; }
  .head:after, .main:after, .foot:after, .close:after {
    content: "";
    display: table;
    clear: both; }

  .logo-top {
    width: 16.8%;
    float: left;
    margin-right: 4%; }

  .donation-message {
    width: 79.2%;
    float: right;
    margin-right: 0; }

  .image-top {
    width: 100%;
    float: right;
    margin-right: 0; }

  .footer-line {
    width: 100%;
    float: right;
    margin-right: 0; } }
.node {
  margin-left: 16.93811%;
  width: 83.06189%;
  float: right;
  margin-right: 0;
  #margin-left: -15px;
  display: inline; }

@media (max-width: 520px) {
  .node {
    width: 100%;
    float: right;
    margin-right: 0; } }
@media (min-width: 521px) and (max-width: 980px) {
  .node {
    width: 100%;
    float: right;
    margin-right: 0; } }
@media (max-width: 520px) {
  .image-foot {
    width: 100%;
    float: left;
    margin-right: 4%; }

  .efficiency-footer {
    width: 100%;
    float: left;
    margin-right: 4%; } }
@media (min-width: 520px) {
  .image-foot {
    width: 32.24756%;
    float: left;
    margin-right: 1.62866%; }

  .efficiency-footer {
    width: 49.18567%;
    float: left;
    margin-right: 1.62866%; } }
@media (min-width: 521px) and (max-width: 980px) {
  .image-foot {
    width: 43.23144%;
    float: left;
    margin-right: 2.18341%; }

  .efficiency-footer {
    width: 54.58515%;
    float: right;
    margin-right: 0; } }
body {
  font-family: Helvetica, Arial, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  color: #cf6400;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent; }
a:hover {
  text-decoration: underline; }

ins {
  background-color: #eee;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #eee;
  color: #000;
  font-style: italic;
  font-weight: 700; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

input, select {
  vertical-align: middle; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/*
 * BASELINE STYLES
 */
/* always force a scrollbar in non-IE */
html {
  overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none;
  cursor: pointer; }

ul, ol {
  list-style-position: inside; }

ol {
  list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: 700; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

/* align checkboxes, radios, text inputs with their label */
input[type=radio] {
  vertical-align: text-bottom; }

input[type=checkbox] {
  vertical-align: bottom; }

.ie7 input[type=checkbox] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

/* webkit browsers add a 2px margin outside the chrome of form elements */
/*button, input, select, textarea { margin: 0; } */
/* colors for form validity */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

/* These selection declarations have to be separate.
 */
::-moz-selection {
  background: #fdc82f;
  color: #222222;
  text-shadow: none; }

::selection {
  background: #fdc82f;
  color: #222222;
  text-shadow: none; }

/*  iOS highlight color */
a:link {
  -webkit-tap-highlight-color: #FF5E99; }

/* make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {
  width: auto;
  overflow: visible; }

/* bicubic resizing for non-native sized IMG:  */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/*
 * Helpers
 */
/* for image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  text-align: left;
  direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.cf:before, .cf:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.cf:after {
  clear: both; }

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: .5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body {
  background-image: url(/sites/all/themes/bling/img/body-bg.gif);
  background-position: initial;
  background-repeat: repeat;
  color: #222222;
  font-size: 85%;
  line-height: 1.5em;
  margin: 0; }

h1 {
  margin-top: .75em; }
@media (min-width: 0) and (max-width: 520px) {
  h1 {
    font-size: 1.6em;
    margin: .5em 0 .25em 0; } }

.close {
  color: #848484;
  font-size: .85em;
  text-align: right;
  padding: 2em 0; }
.close a, .close a:hover, .close a:active, .close a.active, .close a:visited {
  border-bottom: 1px dotted;
  color: #848484;
  font-weight: 400; }
.close a:hover {
  color: #cdcdcd; }
@media (min-width: 0) and (max-width: 520px) {
  .close {
    text-align: center; } }

.head {
  background-color: #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
  padding-top: 15px; }
@media (min-width: 0) and (max-width: 520px) {
  .head {
    margin-top: 0; } }

@media (min-width: 0) and (max-width: 520px) {
  .logo-top img {
    float: left;
    height: auto;
    margin: 0 .1em .1em 0;
    width: 100%; } }

@media (min-width: 0) and (max-width: 520px) {
  .image-top {
    background: #feeec0;
    clear: both;
    display: table;
    padding: .2em 0; }
  .image-top img {
    float: left;
    height: auto;
    padding: 10px;
    width: 45%; } }

.donation-image-caption {
  color: #888888;
  font-size: .8em;
  line-height: 1.2em; }
@media (min-width: 0) and (max-width: 520px) {
  .donation-image-caption {
    padding: 3em 1em 0 0; } }

.foot {
  background-color: #f5f5f5;
  color: #7e7f90;
  padding-bottom: 1.5em;
  padding-top: 1.5em; }
.foot img {
  margin-left: 5px; }
@media (min-width: 0) and (max-width: 520px) {
  .foot img {
    display: block;
    margin: 0 auto; } }
@media (min-width: 521px) and (max-width: 980px) {
  .foot img {
    display: block;
    margin: 0 auto; } }
.foot p {
  margin: 0 0 .85em; }
.foot p:last-child {
  margin-bottom: 0; }

.main {
  background-color: #fff;
  padding-bottom: 2em; }

form {
  padding-top: 1.5em; }

fieldset {
  margin-bottom: 0; }

@media (min-width: 0) and (max-width: 520px) {
  legend {
    color: #cf6400;
    font-size: 1.6em;
    font-weight: normal !important; } }

.description {
  color: #666666;
  line-height: 1.5em;
  padding: 0 .35em; }

.error {
  display: block;
  font-size: .85em;
  font-weight: normal !important;
  padding: 0 0 .75em 0; }

.form-text {
  border: 1px solid;
  border-color: #ababab #cfcfcf #dbdbdb #ababab;
  padding: 3px; }
@media (min-width: 0) and (max-width: 520px) {
  .form-text {
    font-size: 1.5em;
    height: 3em;
    width: 349px; } }

.form-item {
  margin: .5em 0; }

#edit-actions {
  border: #ffedba; }

.webform-component-fieldset {
  border: none; }
@media (min-width: 0) and (max-width: 520px) {
  .webform-component-fieldset {
    margin-bottom: 30px; } }
.webform-component-fieldset .form-item {
  margin: 1em 0; }

.form-radios .form-item {
  display: inline-block;
  float: left;
  margin-top: .7em;
  padding-right: 15px; }
.form-radios .form-item input, .form-radios .form-item label {
  display: block;
  text-align: center; }
.form-radios .form-item input {
  padding-top: 5px; }
.form-radios .form-item label {
  padding-top: 4px; }
@media (min-width: 0) and (max-width: 520px) {
  .form-radios .form-item label {
    padding-bottom: 4px; } }

.fundraiser-donation-form > div {
  position: relative; }

#webform-component-donation {
  width: 90%; }
#webform-component-donation label {
  width: auto; }
#webform-component-donation legend {
  display: none; }
#webform-component-donation .form-text {
  font-size: 100%;
  height: auto;
  width: auto; }
@media (min-width: 0) and (max-width: 520px) {
  #webform-component-donation {
    width: auto; } }

#webform-component-donor-information, #webform-component-billing-information {
  float: left;
  width: 320px; }
@media (min-width: 0) and (max-width: 520px) {
  #webform-component-donor-information, #webform-component-billing-information {
    float: none;
    width: auto; } }

#webform-component-donor-information legend, #webform-component-billing-information legend, #webform-component-payment-information legend {
  font-weight: bold;
  padding-left: 0; }
#webform-component-donor-information label, #webform-component-billing-information label, #webform-component-payment-information label {
  display: inline-block;
  font-weight: normal;
  width: 130px; }
#webform-component-donor-information .form-text, #webform-component-donor-information select, #webform-component-billing-information .form-text, #webform-component-billing-information select, #webform-component-payment-information .form-text, #webform-component-payment-information select {
  display: inline-block;
  width: 175px; }
@media (min-width: 0) and (max-width: 520px) {
  #webform-component-donor-information label, #webform-component-billing-information label, #webform-component-payment-information label {
    display: block;
    font-weight: bold;
    width: auto; }
  #webform-component-donor-information .form-text, #webform-component-donor-information select, #webform-component-billing-information .form-text, #webform-component-billing-information select, #webform-component-payment-information .form-text, #webform-component-payment-information select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    font-size: 1.1em;
    width: 100%; } }

#webform-component-donation--amount {
  margin: 0; }

#webform-component-donation--other-amount {
  display: inline-block;
  margin: 1em 0 0.3em;
  width: 154px; }
#webform-component-donation--other-amount .form-text {
  width: 30px; }
@media (min-width: 0) and (max-width: 520px) {
  #webform-component-donation--other-amount .form-text {
    height: 3em;
    width: 54px; } }
#webform-component-donation--other-amount label {
  display: none; }
@media (min-width: 0) and (max-width: 520px) {
  #webform-component-donation--other-amount {
    width: 74px; } }

#webform-component-payment-information {
  clear: both; }
#webform-component-payment-information legend {
  font-weight: bold; }
#webform-component-payment-information select {
  margin-right: .5em;
  width: auto; }
@media (min-width: 0) and (max-width: 520px) {
  #webform-component-payment-information select {
    display: inline-block;
    width: 40%; } }
#webform-component-payment-information fieldset {
  border: none;
  padding: 0; }
#webform-component-payment-information .fieldset-wrapper > div {
  display: block;
  float: left;
  padding: 0 1em 0 0;
  width: 320px; }
@media (min-width: 0) and (max-width: 520px) {
  #webform-component-payment-information .webform-component-fieldset {
    margin-bottom: 0; } }

@media (min-width: 0) and (max-width: 520px) {
  #webform-component-payment-information--recurs-monthly {
    margin-top: 0; }
  #webform-component-payment-information--recurs-monthly label {
    display: inline-block; } }

#edit-submitted-donation-amount {
  float: left; }

.form-submit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 0px 1px 5px charcoal;
  background: #ffe59e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #ffe59e 0%, #ffc828 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe59e), color-stop(100%, #ffc828));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffe59e 0%, #ffc828 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffe59e 0%, #ffc828 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffe59e 0%, #ffc828 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffe59e 0%, #ffc828 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffe59e, endColorstr=#ffc828,GradientType=0 );
  /* IE6-8 */
  border: 2px solid #fed256;
  color: #524a35;
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  padding: .5em 1em;
  width: auto; }
@media (min-width: 0) and (max-width: 520px) {
  .form-submit {
    width: 100%; } }

.fundraiser_submit_message {
  bottom: 0;
  color: #888888;
  left: 150px;
  position: absolute; }
.fundraiser_submit_message img {
  padding: 0 10px 0 0; }
@media (min-width: 0) and (max-width: 520px) {
  .fundraiser_submit_message {
    left: 0;
    position: relative; } }

* + html .form-submit {
  padding: .25em; }
