/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in the left sidebar, the
 * image will overlap with the #content to the right. The exception to this
 * is IE6 which will just hide the navigation block completely in these
 * instances due to a positioning bug.
 */
/* line 20, ../compass/sass/layout.scss */
#content, #sidebar-first, #sidebar-second {
  float: left;
  display: inline;
  position: relative; }

/* line 26, ../compass/sass/layout.scss */
#content {
  width: 100%; }

/* line 29, ../compass/sass/layout.scss */
body.sidebar-first #content {
  width: 80%;
  left: 20%;
  /* LTR */ }

/* line 33, ../compass/sass/layout.scss */
body.sidebar-second #content {
  width: 80%; }

/* line 36, ../compass/sass/layout.scss */
body.two-sidebars #content {
  width: 60%;
  left: 20%; }

/* line 41, ../compass/sass/layout.scss */
#sidebar-first {
  width: 20%;
  left: -80%;
  /* LTR */ }

/* line 46, ../compass/sass/layout.scss */
body.two-sidebars #sidebar-first {
  left: -60%;
  /* LTR */ }

/* line 50, ../compass/sass/layout.scss */
#sidebar-second {
  float: right;
  /* LTR */
  width: 20%; }

/* line 55, ../compass/sass/layout.scss */
.section {
  margin: 10px; }
